#背景图层
baseMap=D:\map\baseMap

#图层1
#layer1=

#图层2
#layer2=

#图层3
#layer3=

#图层4
#layer4=

#图层5
#layer5=

#图层6
#layer6=

#图层7
#layer7=

#图层8
#layer8=

#图层9
#layer9=

#图层10
#layer10=

#图层11
#layer11=

#图层12
#layer12=

#图层13
#layer13=

#图层14
#layer14=

#图层15
#layer15=

#图层16
#layer16=

#图层17
#layer17=


#最后生成的图片路径
destination=D:

#黑色图层颜色
color=0x141b2b
#黑色图层透明度
alpha=0.9

#背景图图片类型
pictureType=jpg


#	程序一共提供了18个图层。其中baseMap图层一般用来显示背景图片。其他17个图层用来加载已经画好的地图，例如边界，铁路等。
#   17个图层默认从下往上。如果希望一个图层显示在最下面，请在低级别层加载。层越高，图层显示在其他图层外面。
#	使用者可以根据个人希望显示的顺序，自己定义图层加载的图片以及上下顺序。
#
#



